# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
**/.venv/
venv/

# Environment variables
**/.env

# VS Code
.vscode/

# Logs
*.log

# Python caches
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db
