# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/